/** {
  border: solid 1px red;
}*/
html,
body {
  background-image: url("https://centimeterbain.github.io/survivalWeb/green.jpg");
  z-index: "0";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#survial {
  position: relative;
  overflow: hidden;
}
#survial .bg {
  z-index: "1";
  width: 100%;
  height: auto;
}
#survial .gress {
  position: absolute;
  bottom: 0px;
  left: 8%;
  width: 135%;
  z-index: "5";
  overflow: hidden;
/*動畫設定*/
  animation-name: gress1moving;
  animation-duration: 8s;
  animation-delay: 2s;
  animation-fill-mode:none;
}
#survial .gress2 {
  position: absolute;
  bottom: 0px;
  right: 8%;
  width: 135%;
  z-index: "5";
  overflow: hidden;
/*動畫設定*/
  animation-name: gress2moving;
  animation-duration: 8s;
  animation-fill-mode:none;
}

#survial .people {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 28%;
  z-index: "2";
  overflow: hidden;
  opacity: 0;
  /*動畫設定*/
  animation-name: appear;
  animation-duration: 2s;
  animation-delay:10s;
  animation-fill-mode:none;
}
#survial .plant {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 28%;
  z-index: "2";
  overflow: hidden;
}
#survial .animal {
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 47%;
  z-index: "2";
  overflow: hidden;
}
.bgstory {
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
h1 {
  margin: 0px auto;
  text-align: center;
}

/*Css動畫區*/

@keyframes gress2moving {
  0% {
    margin-right: 8%;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    margin-right: 80%;
    opacity: 0;
  }
}

@keyframes gress1moving {
  0% {
    margin-left: 8%;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    margin-left: 80%;
    opacity: 0;
  }
}

@keyframes appear{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}